/src/*
!/src/main.sh
!/src/gnuplot/
!/src/python3/
!/src/tex/

/src/gnuplot/*
!/src/gnuplot/plot.gpl

/src/python3/*
!/src/python3/data_input.py
!/src/python3/newest_to_old.py
!/src/python3/crater_shot.py
!/src/python3/height_input.py

/src/tex/*
!/src/tex/main.tex
!/src/tex/preamble.tex
!/src/tex/figures/

/src/tex/figures/*
!/src/tex/figures/memo_figures.txt

/explanation/*
!/explanation/explanation.tex
!/explanation/preamble.tex
!/explanation/figure/

/explanation/figure/*
!/explanation/figure/explanation_figure.pdf
!/explanation/figure/explanation_figure.pptx
